<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>社团管理系统</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/shetuan/css/style.css" />
	</head>

	<body>
		<div id="loginpanelwrap">
			<div class="loginheader">
				<div class="logintitle">
					<a href="__CONTROLLER__">社团管理系统</a>
				</div>
			</div>


			<div class="loginform">
				<form method="post">
					<div class="loginform_row">
						<label>
							登录用户名:
						</label>
						<input type="text" class="loginform_input" name="admin_username"/>
					</div>
					<div class="loginform_row">
						<label>
							登录密码:
						</label>
						<input type="password" class="loginform_input" name="admin_password"/>
					</div>
					<div class="loginform_row">
						<input type="submit" class="loginform_submit" value="登录" />
						
					</div>
					<div class="clear"></div>
				</form>
			</div>


		</div>
	</body>
</html>
