<include file="Index/header" />

<script type="text/javascript">
$(function () {
    $("#txtShow").click(function () {
        $("#divShade").show();
        funShowDivCenter("#div_show");
        $("#txtSiteID").focus();
    });
    $("#btnCancel").click(function () {
        $("#divShade").hide();
        $("#div_show").hide();
    });
    
    $("#btnOK").click(function(){
        var filename = $("input[name='filename']").val();
        location.href = "addfile?filename="+filename;//location.href实现客户端页面的跳转 
      
    });   
});

//让指定的DIV始终显示在屏幕正中间
function funShowDivCenter(div) {
    var top = ($(window).height() - $(div).height()) / 2;
    var left = ($(window).width() - $(div).width()) / 2;
    var scrollTop = $(document).scrollTop();
    var scrollLeft = $(document).scrollLeft();
    $(div).css({ position: 'absolute', 'top': top + scrollTop, left: left + scrollLeft }).show();
}
</script>
<div id="divShade" class="shade"></div>
    
    <div id="div_show">
       <div class="content">
          <div><label>文件名：</label><input id="txtSiteID" type="text" name="filename"/>.php</div>
       </div>
       <div class="footer">
          <input id="btnOK" type="button" value="确定" /><input id="btnCancel" type="button" value="取消" />
       </div>
</div>
    
    
<div class="page-head clearfix">
    <div class="logo-area">
        <a href="http://weixin.yudw.com/home/index/controller" class="page-logo" title="新浪云">
        <img src="__PUBLIC__/controller_files/sinacloud_logo.png"></a>
    </div>
    <div class="dashboard">
        <a class="db-title" href="javascript:void(0)">控制台<i class="head-icon u-arrow"></i></a>
        <div class="db-dropdown-list">
            <ul class="db-detail-list">
                <li><a href="http://weixin.yudw.com/home/index/controller">云应用 SAE</a></li>
                
  			</ul>
        </div>
    </div>
    <div class="useri">
        <!--<div class="u-consult">
            <i class="phone"></i>
            <span>400-823-1517</span>
        </div>-->
        <ul class="dashboard-nav">
           

            <li class="spt-li spt-dropdown nav-li">
                <a href="__CONTROLLER__/index/support.html?from=topnav" title="用户中心" target="_blank">
                <i class="head-icon spt"></i>用户中心</a>
                <i class="head-icon u-arrow"></i>
                <ul class="spt-dropdown-list">
                    <li>
                        <ul>
                            <li class="spt-doc">
                                <a href="__CONTROLLER__/">
                                    <i class="doc-icon"></i>
                                    <p>文档</p>
                                </a>
                            </li>
                            <li class="spt-question">
                            <a href="__CONTROLLER__/">
                                    <i class="question-icon"></i>
                                    <p>常见问题</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="spt-btn">
                        <a href="__CONTROLLER__/logout" class="btn btn-info"><i class="workorder"></i>退出登录</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
</div>

<div id="page-contact-btn">
    <a id="delete-contact" href="javascript:void(0);"><img src="__PUBLIC__/controller_files/close_contact.png"></a>
    <ul class="contact-ul">
               
        <li class="contact-li qrcode">
            <a class="contact-item qrcode-item" href="javascript:void(0);"></a>
            <div class="qrcode-box">
                <img src="__PUBLIC__/me.jpg" alt="SinaAppEngine">
                <p>有问题？找TA</p>
            </div>
        </li>
        <li class="contact-li go-top" id="page-go-top" style="bottom: 100px; left: 1312.953125px; display: none;">
            <a class="contact-item go-top-item" href="javascript:void(0);"></a>
        </li>
    </ul>
</div>

</div>

<!-- 模块内容:开始 -->
<div class="row-fluid page-wrap" id="vermng-page">
    <!-- 侧边栏:开始 -->
    <div id="app-page">
    <div class="row">
       
       
       <include file="Index/left" />
       
       
       
       
        <div class="span10">
        <div class="title-box">
                   
        <ul class="app-choose">
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="http://weixin.yudw.com/home/index/controller">{$controller_name}</a>
            <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu">
                    <li class="first">我的应用</li>
                                                                                                </ul>
                            </li>
            <li>web应用</li>
        </ul>
        <ul class="app-profile">
                        <li class="modify"><span class="label label-success">正常（永久有效）</span></li>
                        <li class="introduction"></li>
        </ul>
        
    </div>
        </div>
        <!--侧边导航栏结束-->
        <script type="text/javascript" src="__PUBLIC__/controller_files/sidebar.js"></script>


<!-- 右侧主要内容:开始 -->
<div class="span10" id="main">
    <div class="border-box">
        <div class="border-box-inner">
            <div class="svn-create">
                <strong> <a id="txtShow" class=" btn btn-primary" >+ 创建新文件</a>  </strong>
            </div>
                        <div class="row-fluid progress-bar">
                                <div class="span12  new-level">
                    <!-- progress   progress-success quota-l  -->
                    <div class="" id="disk-space">
                        <div class="bar bar-success quota-bar" style="width: 0%;"></div>
                        <span class="usage_hint" id="used">统统免费，不管用多少，永久免费！妈妈再也不担心我没有 云豆 啦！！！ 
                        </span>
                    </div>
                   
                    <div class="pay-ds" id="disk-space" style=" margin-top:-5px;">
                        <div class="bar bar-success quota-bar" style="width: 0%;"></div>
                        <div style="float:right;"> <a href="__CONTROLLER__/public/intention.html?from=mysql&intention_level=5" target="_blank">升级企业版获得更大空间</a></div>
                    </div>
                </div>
                            </div>
            <table class="table table-bordered new-mem" id="version-table">
                <thead class="bread">
                    <tr>
                        <th class="set-default code1">文件名</th>
                        <th class="code2">文件最近修改时间</th>
                        <th class="app-url code3">文件链接</th>
                                                
                       
                        <!-- <th class="show-error code6">代码编辑</th>-->
                         <th class="extra-opt code7">操作</th>
                     </tr>
                </thead>
                <tbody>
                      <foreach item="v" name="alltable">
                      <tr data-id="2266551" data-xhprof="0" data-debug="1" data-appname="fu888" data-version="1">
                        <td>
                            <span>{$v.file_name}.php</span>
                        </td>
                        <td>
                            <span>{$v.update_time}</span>
                        </td>
                        <td class="app-url">
                        <a class="app-url" href="http://weixin.yudw.com/uid/{$controller_id}/{$v.file_name}.php" target="_blank"><code>http://weixin.yudw.com/uid/{$controller_id}/{$v.file_name}.php</code></a>
                        </td>
                                                
                      
                       <td class="extra-opt">
                        <a href="__CONTROLLER__/editor/file_id/{$v.file_id}" class="">编辑此文件代码</a>
                        </td>
                      </tr>
                      
                      </foreach>
                      
                      
                        </tbody>
        </table>
            </div>
</div>

<!--<h2>内容加速</h2>-->
<!--<div class="border-box" id="cdn_info">-->
    <div class="border-box-inner">
        <div class="alert clear-margin">
                        <p><i class="icon-info-sign"></i><span class="tip">这是盗版的。</span>
            请支持正版。
            </p>
                    </div>
    </div>
    <!-- 
<h2>SVN仓库信息</h2>
<div class="row">
    <div class="span4">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="text-right">用户ID</td>
                    <td>{$controller_id}</td>
                </tr>
                <tr>
                    <td>用户名</td>
                    <td>{$controller_name}</td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td>您的安全密码 <a href="__CONTROLLER__/" target="_blank"><i class="icon-question-sign"></i>忘记密码?</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 -->
 
 <h2>盗版新浪云系统公告及使用说明</h2>


<table class="table table-bordered new-mem" id="version-table">
                <thead class="bread">
                    <tr>
                        <th class="set-default code1">使用教程</th>
                        <th class="code2">代码在这里</th>
                        
                     </tr>
                </thead>
                <tbody>
                     
                      <tr>
                        <td>
                            <span>测试号的配置文件index.php代码</span>
                        </td>
                        <td>
                            <span><a href="http://weixin.yudw.com/wendang/index.txt" target="_blank">微信公众号后台的index.php代码</a></span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <span>获取accesstoken代码</span>
                        </td>
                        <td>
                            <span><a href="http://weixin.yudw.com/wendang/accesstoken.txt" target="_blank">微信公众号获取accesstoken.php代码</a></span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <span>创建测试号自定义菜单</span>
                        </td>
                        <td>
                            <span><a href="http://weixin.yudw.com/wendang/creatmenu.txt" target="_blank">微信公众号创建菜单的creatmenu.php代码</a></span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <span>公众号访客点击统计结果</span>
                        </td>
                        <td>
                            <span><a href="http://weixin.yudw.com/wendang/tongji.txt" target="_blank">访客点击统计结果的tongji.php代码(文件命名随意)</a></span>
                        </td>
                      </tr>
                      
                      

             </tbody>
        </table>

   

</div>

</div>



</div>


</div></div>

</body></html>