<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>微信公众号后台PHP代码在线管理系统</title>
    <link rel="stylesheet" href="http://www.yudw.com/css/weui.css"/>
 
</head>
<body>


	<div class="page__hd">
        <div class="weui-btn-area"><center>
            <a  class="weui-btn weui-btn_plain-primary" id="close">微信公众号后台PHP代码在线管理系统</a>
   	   </center></div>
    
      <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">

   <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">操作步骤：</h2>
        <p class="weui-msg__desc">1.首先起一个文件名，例如：fuzhijing，（包含数字加字母，最好有学号在里面）点击【进入系统】</p>
        <p class="weui-msg__desc">2.服务器会自动生成一个php文件</p>
         <p class="weui-msg__desc">3.进入系统，按步骤 配置好公众号后台，按照课本，开始学习吧~</p>
    </div>
 </div></div></div>

    </div>		
			
	
  
<form id="cxpform1" action="edit.php" method="get" enctype="multipart/form-data" class="form">

     
          <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">想一个id</label></div>
                <div class="weui-cell__bd">
                    <input type="text" name="id" class="weui-input"  placeholder="字母加数字（包含2位学号）"/>                
                </div>
            </div>
            
              
 
          
        <div class="weui-btn-area">      
            <button type="submit" class="weui-btn weui-btn_primary"><strong>进入系统</strong></button>  
        </div>
   
</div>
</form>



<div style="display:none">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_3790269'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/stat.php%3Fid%3D3790269%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>