<!--侧边导航栏开始active  CSS活跃-->
<div class="span2" id="sidebar-wrap" style="height: 979px;">
        <div id="sidebar-new" class="sidebar">
            <ul class="dropTop"> 
            <a href="http://weixin.hapu.net/home/index/controller"><li class="main"><i class="sidebar-back"></i>返回</li> </a>
            <a href="http://weixin.hapu.net/home/index/controller"> <li class="main "><i class="sidebar-whole"></i>总览</li> </a> 
            <a href="http://weixin.hapu.net/home/index/controller"> <li class="main "><i class="sidebar-whole"></i>代码管理</li> </a> 
             <a href="http://weixin.hapu.net/home/index/images"> <li class="main "><i class="sidebar-whole"></i>图片管理</li> </a> 
             <a href="http://weixin.hapu.net/home/index/db"> <li class="main "><i class="sidebar-whole"></i>数据库管理</li> </a> 
            
            </ul>      
       </div>
</div>