

  <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    <div class="weui-msg__icon-area">
        <i class="weui-icon-success weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">保存成功</h2>
        <p class="weui-msg__desc">你的代号是：</p>
    </div>
  
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
	<a href="http://weixin.yudw.com/edit.php?id=<?php echo $id;?>" class="weui-btn weui-btn_primary" id="close">返回，继续编辑PHP文件</a>
        </p>
    </div>


<?php

} 
fclose($handle); 

?>