@charset 'utf-8';
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:14px/1.5em;}
em,strong{font-style:normal;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:#27a9e3;outline:none}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;border:0}
input{vertical-align:middle;}
.popover{font-family:"hiragino sans gb","microsoft yahei"}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.clear{clear:both}
.clear { clear: both; }
.red { color: #ff0000;}
.center { text-align: center;}
.font {font-size:16px;}

.box_center{margin:0 auto}
/*.l{float:left;display:inline;}*/
.r{float:right;display:inline;}
.hide{display:none;}
.show{display:block;}
.inlineB{display:inline-block;}
.po_re{position:relative;}
.txt_err{color:#f00;}
.btd{border-top:1px dashed #ccc}
.bgc_1e{background-color:#1e242b;}
.bgc_2e{background-color:#2e363f;}

.ml5{margin-left:5px;}
.ml7{margin-left:7px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml18{margin-left:18px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.ml58{margin-left:58px;}
.ml60{margin-left:60px;}
.ml100{margin-left:100px;}
.ml150{margin-left:150px;}
.ml200{margin-left:200px}
.ml500{margin-left:500px}

.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr7{margin-right:7px;}
.mr15{margin-right:15px;}
.mr60{margin-right:60px;}
.mr100{margin-right:100px;}

.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}

.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}
.plr10{padding:10px 0;}
.pt5{padding-top:5px;}
.pt7{padding-top:7px;}
.pt10{padding-top:10px}
.pb10{padding-bottom:10px;}


.fc_27{color:#27a9e3;}
.fc_8f{color:#8f8f8f;}
.fc_66{color:#666;}
.fc_93{color:#939da8;}

.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}

.veral-base{vertical-align:baseline;}
.veral-sub{vertical-align:sub;}
.veral-super{vertical-align:super;}
.veral-top{vertical-align:top;}
.veral-ttop{vertical-align:text-top;}
.veral-midd{vertical-align:middle;}
.veral-bootm{vertical-align:bottom;}
.veral-tbootm{vertical-align:text-bottom;}

.tac{text-align:center;}
.tar{text-align:right;}
.tal{text-align:left;}

.w24{width:24px}
.w100{width:100px;}
.w200{width:200px;}
.w250{width:250px;}
.w350{width:350px;}
.w500{width:500px;}
.wp32{width:32%;}
.wp33{width:33%;}
.wp50{width:50%;}
.wp80{width:80%;}

.borderNo{border:0;}
.borderT_No{border-top:0;}
.borderR_No{border-right:0;}
.borderB_No{border-bottom:0;}
.borderL_No{border-left:0;}

.lineH30{line-height:30px;height:30px}
