.main{width:1000px;margin:10px auto;border:1px solid #e0e0e0;}
.main .row{margin:10px auto auto 10px;}
.main h3{margin:10px 0 10px;}
.main hr{margin:5px 0 5px;}
.main p{margin:0 0 10px;}
.main #vcode-img{right: 18px;top: 2px;height: 28px;margin-top: 1px;border-left: 1px solid #CCC;width: 120px;cursor: pointer;position:absolute;}
