<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="telephone=no" name="format-detection">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <link rel="apple-touch-icon" href="http://yh.tzzhe.cn/apple-touch-icon.png">
        <link href="http://yh.tzzhe.cn/favicon.ico" rel="shortcut icon">
        <link href="http://yh.tzzhe.cn/favicon.ico" rel="icon">
        <link href="http://yh.tzzhe.cn/favicon.ico" rel="Bookmark">
        <title>驿源代购到家</title>
        <meta name="Keywords" content="浪百,优惠券折扣,9块9包邮,限时特卖,优品折扣,浪百">
        <meta name="Description" content="浪百-优惠券折扣直播第一站！每天更新千款，纯人工筛选验货，限时限量特卖，全场1折包邮！">
        <link href="__PUBLIC__/gouwu/swiper.min.css" rel="stylesheet">
        <link href="__PUBLIC__/gouwu/wap_common.css" rel="stylesheet">
        <link href="__PUBLIC__/gouwu/wapindex.css" rel="stylesheet">
        <script src="__PUBLIC__/gouwu/jquery.2.0.min.js"></script>
        <script src="__PUBLIC__/gouwu/swiper.jquery.min.js"></script>
        <script src="__PUBLIC__/gouwu/lazyload.js"></script>
    </head>
    <body>
        <div class="main-title clearfix">
            <a href="http://yy.yudw.com/daojia" class="main-logo fl">
                <!--优先显示图片，图片没有在显示名字-->
                代购           </a>
            <div class="search fl" style="width: 241px;">
                <form method="get">
                   
                    <button class="search_submit background"></button>
                    <input type="text" placeholder="好宝贝 等你搜" name="search" class="search_area" autocomplete="off" style="width: 209px;">
                </form>
            </div>
            <a id="mui-action-menu" class="mui-action-menu mui-pull-left main-icon fr" href="javascript:void(0)" style="background:url(__PUBLIC__/gouwu/fenlei.png) -62px 0;">
                <span></span>
            </a>
        </div>
        <!-- 主界面具体展示内容 -->
        
<div class="index-wrapper">
    <div class="swiper-container swiper-container-horizontal swiper-container-android" style="width: 100%; height: 150.435px;">
        <div class="swiper-wrapper" style="transform: translate3d(-720px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" style="height: 150.435px; width: 360px;">
                <a href="__CONTROLLER__/item/id/33">
                    <img style="width: 100%;" src="__PUBLIC__/gouwu/TB2Gi9Zm9FmpuFjSZFrXXayOXXa_!!2508158775.jpg">
                </a>
            </div>
                        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="height: 150.435px; width: 360px;">
                <a href="__CONTROLLER__/item/id/3">
                    <img style="width: 100%;" src="__PUBLIC__/gouwu/TB2_2TdkB0lpuFjSszdXXcdxFXa_!!2508158775.jpg">
                </a>
            </div>
                        <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="height: 150.435px; width: 360px;">
                <a href="__CONTROLLER__/item/id/2153793">
                    <img style="width: 100%;" src="__PUBLIC__/gouwu/TB2EqpjkMJlpuFjSspjXXcT.pXa_!!2508158775.jpg">
                </a>
            </div>
                        <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="height: 150.435px; width: 360px;">
                <a href="__CONTROLLER__/item/id/2153931">
                    <img style="width: 100%;" src="__PUBLIC__/gouwu/TB2HG.1kwxlpuFjSszgXXcJdpXa_!!2508158775.jpg">
                </a>
            </div>
                        <div class="swiper-slide" data-swiper-slide-index="3" style="height: 150.435px; width: 360px;">
                <a href="__CONTROLLER__/item/id/2">
                    <img style="width: 100%;" src="__PUBLIC__/gouwu/TB2kt52mYxmpuFjSZJiXXXauVXa_!!2508158775.jpg">
                </a>
            </div>
                        <div class="swiper-slide" data-swiper-slide-index="4" style="height: 150.435px; width: 360px;">
                <a href="__CONTROLLER__/item/id/2171759">
                    <img style="width: 100%;" src="__PUBLIC__/gouwu/TB2Gi9Zm9FmpuFjSZFrXXayOXXa_!!2508158775.jpg">
                </a>
            </div>
                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="height: 150.435px; width: 360px;">
                <a href="__CONTROLLER__/item/id/2145861">
                    <img style="width: 100%;" src="__PUBLIC__/gouwu/TB2_2TdkB0lpuFjSszdXXcdxFXa_!!2508158775.jpg">
                </a>
            </div></div>
        <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
    </div>
    <script>
        (function(){
            window.onresize = function(){

                $('.swiper-slide').height($('.swiper-container').width()/414*173);
                $('.swiper-container').height($('.swiper-container').width()/414*173);
            }
            $('.swiper-slide').height($('.swiper-container').width()/414*173);
            $('.swiper-container').height($('.swiper-container').width()/414*173);

        })()
    </script>
    <style>
        .swiper-pagination{
            position:absolute;
        text-align:center;
        -webkit-transition:.3s;
        -moz-transition:.3s;
        -o-transition:.3s;
        transition:.3s;
        -webkit-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
        -o-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        z-index:10
        }
        .swiper-pagination-bullet{
            width:8px;
            height:8px;
            display:inline-block;
            border-radius:100%;
            background:#000;
            opacity:.1
        }
        .swiper-pagination-bullet-active{
        width:6px;
        height:6px;
        opacity:1;
        background:white;
        border: #000 1px solid;
        opacity:.1
        }
    </style>
    <div class="icon-link-wrapper">
        <ul class="icon-url-list clearfix">
            <li class="icon-99by">
                <a href="http://yy.yudw.com/daojia?type=9.9">
                    <img src="__PUBLIC__/gouwu/icon-99.png">
                    <span>9.9包邮</span>
                </a>
            </li>
            <li class="icon-rqb">
                <a href="http://yy.yudw.com/daojia?type=chaoji">
                     <img src="__PUBLIC__/gouwu/icon-chaoji.png">
                    <span>超级人气榜</span>
                </a>
            </li>
            <li class="icon-xblj">
                <a href="http://yy.yudw.com/daojia?type=jijian">
                    <img src="__PUBLIC__/gouwu/icon-lijian.png">
                    <span>小编力荐</span>
                </a>
            </li>
            <li class="icon-jpsf">
                <a href="http://yy.yudw.com/daojia/?r=6">
                   <img src="__PUBLIC__/gouwu/icon-jujia.png">
                    <span>居家日用</span>
                </a>
            </li>

        </ul>
    </div>
</div>


<div class="goods-list" data-page="3">


<foreach name="list" item="v" >
 


<div class="goods-item">
    <a href="__CONTROLLER__/item/id/{$v.id}" class="img">
                    <span class="today-wrapper">
                <span>小编</span>
                <span>精选</span>
            </span>
                <span class="coupon-wrapper">
            <span class="coupon" style="color: #EDFF00;">热销</span>
            <span class="price">火爆</span>
        </span>
        <img src="http://yy.yudw.com/{$v.img}" alt="">
    </a>
    <a href="__CONTROLLER__/item/id/{$v.id}" class="title">
        <div class="text" style=" color:#777777;">{$v.name}</div>
    </a>
    <div class="price-wrapper">
        <span class="text">价格</span>
        <span class="price">￥{$v.price}</span>
        <div class="sold-wrapper">
            <span class="sold-num">{$v.click}</span>
            <span class="text">人已买</span>
        </div>
    </div>
</div>


    
</foreach>

</div>
<div class="pullup-goods">
    <div class="label">没有了...</div>
</div>
<script language="javascript">
    if(window.history.state){
        $('.goods-list').html(window.history.state.list);
        var page = window.history.state.page;
    }else{
        var page = 2;
    }

    var isFinish = false;
    var isLoading = false;
    var $pullUp = null;
    var needLoadMore = false;
    var maxScrollY = 0;
    var windowHeight = 0;
    $(document).ready(function () {

        var mySwiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            loop: true,
            autoplay: 2500
        });

        maxScrollY = $(document).height();
        windowHeight = $(window).height();
        $(window).on('resize', function () {
            windowHeight = $(window).height();
        });
        $(window).scroll(function (e) {
            if (isFinish || isLoading) {
                return;
            }
            var y = $(document).scrollTop();
            maxScrollY = $(document).height();
            windowHeight = $(window).height();
            if (Math.abs(maxScrollY - windowHeight - y) > 100) {
                return;
            }
            var $wrapper = $(this);
            if (!$pullUp) {
                $pullUp = $wrapper.find('.pullup-goods');
            }
            var data = null;
            getData($wrapper, data, 1);
        });
        function getData($wrapper, data, direction) {
            if (isFinish) {
                return;
            }
            isLoading = true;
            if (!$pullUp) {
                $pullUp = $wrapper.find('.pullup-goods');
            }
            var labelTag = $($pullUp).find('.label');
            var tPaht = "/index.php";
            $.ajax(tPaht, {
                data: {r: 'index/ajax', page: page},
                dataType: 'json',
                type: 'post',
                error: function (xhr, type, errorThrown) {
                getData($wrapper, data, direction);
                },
                success: function (result, status, xhr) {
                    needLoadMore = false;
                    if (result.status == 0) {
                        if(result.data.pageStatus === false){
                            isLoading = false;
                            $('.pullup-goods .label').html('没有更多商品啦');
                            isFinish = true;
                        }
                        $('.goods-list').append(result.data.content);
                        // myScroll.refresh();
                        $("img.lazy").lazyload();
                        aClick();
                        maxScrollY = $(document).height();
                        isLoading = false;
                        page++;
                        $('.goods-list').attr('data-page',page);
                        //$(labelTag).html('上拉加载更多商品');
                    } else {
                        //                        myScroll.refresh();
                        maxScrollY = $(document).height();
                        isLoading = false;
                        $(labelTag).html('没有更多商品啦');
                        isFinish = true;
                    }
                }
            });
        }
    });
$("img.lazy").lazyload();
</script>

        <nav id="show-top-menu">
            <div class="mask" id="menu-mask"></div>
            <div class="menu-content">
                <ul class="main-cat">
                                                <li class="cat-item mm-nolistview">
                                <a rel="external" href="http://yy.yudw.com/daojia?r=1">女装</a>
                            </li>
                                                        <li class="cat-item ">
                                <a rel="external" href="http://yy.yudw.com/daojia?r=2">男装</a>
                            </li>
                                                        <li class="cat-item ">
                                <a rel="external" href="http://yy.yudw.com/daojia?r=3">内衣</a>
                            </li>
                                                        <li class="cat-item ">
                                <a rel="external" href="http://yy.yudw.com/daojia?r=4">母婴</a>
                            </li>
                                                        <li class="cat-item ">
                                <a rel="external" href="http://yy.yudw.com/daojia?r=5">化妆品</a>
                            </li>
                                                        <li class="cat-item ">
                                <a rel="external" href="http://yy.yudw.com/daojia?r=6">居家</a>
                            </li>
                                                        <li class="cat-item ">
                                <a rel="external" href="http://yy.yudw.com/daojia?r=7">鞋包配饰</a>
                            </li>
                                                        <li class="cat-item ">
                                <a rel="external" href="http://yy.yudw.com/daojia?r=8">美食</a>
                            </li>
                                                        <li class="cat-item ">
                                <a rel="external" href="http://yy.yudw.com/daojia?r=9">文体车品</a>
                            </li>
                                                        <li class="cat-item ">
                                <a rel="external" href="http://yy.yudw.com/daojia?r=10">数码家电</a>
                            </li>
                                            </ul>
                <span class="up-menu">收起分类</span>
            </div>
        </nav>
        <div class="toTop" style="display: none;"></div>
        <div style="display: none;">
            <script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        };
        var o = {
            pid: "mm_30367817_3465133_13200408",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: "",/*自定义统计字段*/
            type: "click" /* click 组件的入口标志 （使用click组件必设）*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>                    </div>
    <script src="__PUBLIC__/gouwu/cms_common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/gouwu/dtk.js" id="counterJs"></script>

</body></html>